* {
    box-sizing: border-box;
}
body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.header {
    padding: 20px 72px 20px 32px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.menu-button {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    width: 20px;
    height: 17px;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}
.menu-line {
    display: block;
    width: 20px;
    height: 3px;
    background: #1F2022;
    border-radius: 20px;
}
.logo {
    margin-right: 59px;
}
.input-group {   
    background: #EBEBEB;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
}
.input-search {
    background: transparent;
    border: none;
    height: 44px;
    padding: 12px 23px;
    width: 100%;
}
.button-search {
    padding: 0;
    width: 19px;
    height: 19px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.icon-search {
    fill: #000;
}
.icon {
    display: flex;
    align-items: center;
     margin-left: auto;
    /* opacity: 0.5;
    fill: #000; */
}
.icon-link {
    text-decoration: none;
    opacity: 0.24;
}
.icon-link:hover {
    opacity: 1;
    color: #ff0000;
}
.icon-link:not(:last-child) {
    margin-right: 50px;
}

.user {
    margin-left: 45px;
}
.sidebar {
    padding-left: 32px;
}
.nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}

.nav-item {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    color: #898989;
    
}
.nav-link {
    display: flex;
    align-items: center;
    color: #898989;
    text-decoration: none;
    /* fill: #000; */
}
.nav-link:hover {
    color: #ff0000;
}
.nav-link:hover .icon {
    color: #ff0000;
}
.nav-item .icon {
    fill: #898989;
}
.nav-text {
    margin-left: 13px;
}
.nav-img {
    width: 25px;
    height: 25px;
    opacity: 1;
}
.nav-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}